<h1>{{title}}</h1>

<div class="container">
    <ul id="list" class="names">
    </ul>
</div>

<div id="form">
    <p>Click on a name to select/deselect it.</p>
    <input id="text" placeholder="Add a name" />
    <button id="add-item-button">Add</button>

</div>

<script src="javascripts/script.js"></script>