@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 0 0 100%;
  
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #121d1e;
}

.names {
  background: rgb(199, 215, 222);
  border-radius: 1em;
  color: rgb(54, 59, 87);

  width: 15em;

  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

li {
  padding: 1em;
}

.highlighted {
  color: white;
}