@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding: 0;
  margin: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1em;
  display: grid;
  grid-template:
    'heading heading'
    'boyNames girlNames';
}

h1 {
  grid-area: heading;
  width: 10em;
  text-align: center;
  color: #52696c;
}

.boy {
  color: #3888c5;
}

.girl {
  color: #e4638e;
}

.boyNames {
  grid-area: boyNames;
  background: aliceblue;
  border-radius: 1em;
}

.girlNames {
  grid-area: girlNames;
  background: rgb(255, 240, 243);
  border-radius: 1em;
}

ul {
  padding: 1em;
  margin: .5em;
}

li {
  padding: 1em 0em;
  list-style: none;
}